name: Debug APK Build

on:
  push:
    branches: ['*']

jobs:
  debug:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x ./gradlew

      - name: Build Debug
        run: ./gradlew assembleDebug

      - name: Upload Debug APKs
        uses: actions/upload-artifact@v4
        with:
          name: animetail-debug
          path: app/build/outputs/apk/debug/*.apk
